[Desktop Entry]
Type=Application
Name=Easy Edit Pro
Comment=Open-source Linux video editor
Exec=easy-edit-pro
TryExec=easy-edit-pro
Icon=saturn-camera
Terminal=false
Categories=AudioVideo;Video;AudioVideoEditing;
StartupWMClass=com.zvirox.ProjectSaturn
